*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map

# MPLAB.X artifacts
**/*.X/build/
**/*.X/dist/
**/*.X/debug/
**/*.X/.generated_files
**/*.X/nbproject/private
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-*

MPLABXlog.*
build_failure_log.txt
**/*.vscode
**/*.zip